@import url(http://fonts.googleapis.com/css?family=Lato:700,900,700italic,900italic);

// Responsive Variables
@sidebar-sm:      300px;
@sidebar-lg:      370px;
@logo-sm:         350px;
@logo-lg:         450px;
@thumbnail-lg:    200px;
@thumbnail-sm:    180px;


@media (min-width: @screen-lg-min) {
  .sidebar {
    .size(@sidebar-lg, 100%);
    img {
      width: @sidebar-lg;
    }
    .instructions h1 {
      font-size:100px;
    }
  }
  .selfies {
    width: @thumbnail-lg;
    margin-left:@sidebar-lg+20px;
  }
}
@media (max-width: @screen-lg-min) {
  .sidebar {
    .size(@sidebar-sm, 100%);
    img {
      width: @sidebar-sm;
    }
    .instructions h1 {
      font-size:80px;
    }
  }
  .selfies {
    width: @thumbnail-sm;
    margin-left:@sidebar-sm+20px;
  }
}

body {
  background:url(../img/bg.png) no-repeat center center fixed;
  width:100%;
  .background-size(cover);
}
.sidebar {
  position: absolute;
  left: 0px;
  top: 0px;
  background:#409AC1;
  border:5px solid #B9EEFF;
  h2 {
    font-family: 'Lato', sans-serif;
    color: white;
    font-style: italic;
    font-weight: 900;
    font-size: 42px;
    text-align: center;
    border-top: 2px solid white;
    margin: 10px 20px;
    border-bottom: 2px solid white;
    padding: 20px 0px;
    text-shadow: -5px -3px 0px rgba(0, 0, 0, 0.3);
  }
  .instructions {
    font-size: 30px;
    color: white;
    margin-left: 40px;
    h1 {
      line-height: 1.3;
    }
    h1, h4 {
      margin:0px;
      font-weight: 300;
    }
  }
}
.selfies {
  float:left;
}
.votr-graph {
  float: left;
  width: 550px;
  display: block;
  margin: 20px;
}

h1, h2, h3, h4 {
  
}
.thumbnail {
  position: relative;
  margin-bottom:7px;
  .name {
    position: absolute;
    top: 0px;
    right: 0px;
    padding:5px 20px;
    font-size:40px;
    background: white;
    color:#333;
    z-index:1020;
    text-align: center;
  }
}


// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.
//
// Note that `.col-lg-12` doesn't get floated on purpose--there's no need since
// it's full-width.

